---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="content"></div>
  <button id="btn-clear-cookie">Clear My Cookie</button>
</Layout>

<script>
  const content = document.querySelector('.content') as HTMLDivElement
  const btnClear = document.querySelector('#btn-clear-cookie') as HTMLButtonElement

  const readCookie = async () => {
    const res = await fetch(`http://localhost:4500/check-cookie`, {
      method: "GET",
      credentials: "include"
    })
    if (!res.ok) {
      window.location.href = "/"
      return
    }
    const data = await res.json()
    return data
  }

  const clearCookie = async () => {
    const res = await fetch(`http://localhost:4500/clear-cookie`, {
      method: "GET",
      credentials: "include"
    })
    const data = await res.json()
    return data
  }

  btnClear.addEventListener('click', async () => {
    const data = await clearCookie()
    alert(`${data.content} Redirecting to homepage in 3 seconds...`)
    setTimeout(() => {
      window.location.href = "/"
    }, 3000)
  })

  const render = async () => {
    const data = await readCookie()
    content.innerHTML = data.content
  }

  render()
</script>